.headercreategroup-container{
    position: relative;
    width: 100%;
    height: 140px;
    padding: 0.5rem;
}

.headercreategroup-addavatarandname{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.headercreategroup-addavatarandname div{
    margin-right: 1rem;
}

.headercreategroup-container h4{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -7%);
  
}