.conversionheader-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E8EB;
    height: 10%;
    padding: 0 1rem;
    justify-content: space-between;
}


.conversionheader-left{
    display: flex;
    justify-content: center;
}

.conversionheader-context{
    margin-left: 0.6rem;
}

.conversionheader-right{
    display: flex;
    justify-content: center;
}



@media (min-width:1700px){   
    .conversionheader-container{
        height: 9%;
    }
  }
  
  @media (min-width:2000px){   

  }
  
  @media (min-width:2350px){   
    .conversionheader-container{
        height: 7%;
    }
  }
  
  @media (min-width:4090px){   
    .conversionheader-container{
        height: 5%;
    }
  }
  
  @media (min-width:5400px){   
    .conversionheader-container{
        height: 4%;
    }
  } 
  