.headercreategroup-container{
    position: relative;
    width: 100%;
    height: 140px;
    padding: 0.5rem;
}

.headercreategroup-addavatarandname{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.headercreategroup-addavatarandname div{
    margin-right: 1rem;
}

.headercreategroup-addavatarandname .custominput-container{
    width: 260px;
}

.headercreategroup-container h4{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -7%);
    white-space: nowrap;
}

.headercreategroup-addedavatar img{
    border-radius: 50%;
}

.headercreategroup-addedavatar{
    position: relative;
}

.headercreategroup-hoveraddedavatar{
    position: absolute;
    top: 0;
    height: 0;
    background-color: rgb(63, 17, 17);
    width: 60px;
    height: 60px;
    opacity: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headercreategroup-hoveraddedavatar:hover{
    opacity: 0.6;
}



/* ------------------------------------------------ RESPONSIVE ----------------------- */


/* WIDTH */

@media only screen and (max-width: 768px) {

    .headercreategroup-addavatarandname .custominput-container{
        width: 180px;
    }
}