.userchat-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.3rem 1rem;
}

.userchat-container-active{
    background-color: #EEF0F7;
}

.userchat-container:hover{
    background-color: #EEF0F7;
}

.userchat-image{
    width: 15%;
}

.userchat-context{
    width:85%;
}

.userchat-username{
    font-size: 16px;
    line-height: 23px;
}


.userchat-groupchat{
    padding: 2px;
    font-weight: 500;
    font-size: 8px;
    line-height: 19px; 
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 0.5rem;
    background: #4080FF;
    border-radius: 4.5px;
}

.userchat-timeoflastmess{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    float: right;
    color: #808999;
}

.userchat-context-bottom{
    display: flex;
    justify-content: space-between;
}

.userchat-contextoflastmess{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #1A2948;
    overflow:hidden;
    width: 70%;
    white-space: nowrap; 
    text-overflow: ellipsis;
    /* word-break: break-all; */
}

.userchat-unreadcontext{
    font-weight: bold;
}

.userchat-icon-unread{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

/* ------------------------------------------------ RESPONSIVE ----------------------- */

@media only screen and (max-width: 767px) {
    .userchat-context{
        display: none;
    }

    .userchat-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .userchat-container{
        padding: 0.3rem 0;
    }
}


@media only screen and (min-width: 768px) and (max-width: 900px) {
    .userchat-image{
        width: 28%;
    }
    
    .userchat-context{
        width:72%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 991px) {
    .userchat-image{
        width: 25%;
    }
    
    .userchat-context{
        width:75%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1020px) {
    .userchat-image{
        width: 22%;
    }
    
    .userchat-context{
        width:78%;
    }
}

@media only screen and (min-width: 1021px) and (max-width: 1199px) {
    .userchat-image{
        width: 20%;
    }
    
    .userchat-context{
        width:80%;
    }
}

@media only screen and (min-width: 1200px) {
    .userchat-image{
        width: 16%;
    }
    
    .userchat-context{
        width:84%;
    }
}
