.userchat-container{
    display: flex;
    cursor: pointer;
    padding: 0.3rem 0.9rem;
}
.userchat-container-active{
    background-color: #EEF0F7;
}

.userchat-container:hover{
    background-color: #EEF0F7;
}

.userchat-image{
    width: 18%;
    padding: 0.1rem;
}

.userchat-context{
    width: 82%;
}

.userchat-username{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    color: #1A2948;
}


.userchat-groupchat{
    padding: 2px;
    font-size: 10px;
    color: white;
    margin-left: 0.5rem;
    /* Accent/Dodger Blue */

    background: #4080FF;
    border-radius: 4.5px;
}

.userchat-timeoflastmess{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    float: right;
    color: #808999;
}

.userchat-context-bottom{
    display: flex;
    justify-content: space-between;
}

.userchat-contextoflastmess{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #1A2948;
    overflow:hidden;
    width: 70%;
    white-space: nowrap; 
    text-overflow: ellipsis;
    /* word-break: break-all; */
}

.userchat-unreadcontext{
    font-weight: bold;
}

.userchat-icon-unread{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
