.userchatlist-container{
  position: absolute;
  width: 331px;
  height: -moz-calc(100% - (20px + 30px));
  height: -webkit-calc(100% - (20px + 30px));
  height: calc(100% - (20px + 30px));
  left: 68px;
  top: 50px;
  border-right: 1px solid #E6E8EB;
  padding: 1rem 0.5rem 0;
  overflow: auto;
}

.userchatlist-header{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}



