.chatdetail-container{
  position: absolute;
  width: -moz-calc(100% - 398px);
  width: -webkit-calc(100% - 398px);
  width: calc(100% - 398px);
  height: -moz-calc(100% - (20px + 30px));
  height: -webkit-calc(100% - (20px + 30px));
  height: calc(100% - (20px + 30px));
  left: 398px;
  top: 50px;
  
  box-shadow: 0px 1px 5px rgba(194, 198, 201, 0.2);
}

#chatdetail-icon-nomess{
  background-image: url("./Icons/iconnomess.svg");
  position: absolute;
  width: 250px;
  height: 206px;
  left: 60%;
  top: 30%;
}