:root{
    --color-item--active:#EEF0F7;
    --color-background:#ffffff;
    --color-background2:#F2F3F4;
    --color-main:#115DD3;
    --color-main2:#4080FF;
    --color-text--dark:#1A2948;
    --color-text--gray:#4D5971;
    --color-text--lightgray:#667085;
    --color-main-border:#E6E8EB;
}