.navbar-container{
    position: absolute;
    width: 5%;
    height: 100%;
    left: 0px;
    background: #115DD3;
    border-radius: 0px 32px 0px 0px;
  }

/* ------------------------------------------------ RESPONSIVE ----------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 991px) {
  .navbar-container{
    height: 8%;
    width: 100%;
    display: flex;
    border-radius: 0px;
    justify-content: space-between;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-container{
    width: 4%;
  } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar-container{
    width: 4%;
  } 
}


@media (min-width:1700px){   
  .navbar-container{
    width: 4%;
  }
}

@media (min-width:2000px){   
  .navbar-container{
    width: 3%;
  }
}

@media (min-width:2350px){   
  .navbar-container{
    width: 2%;
  }
}

@media (min-width:4090px){   
  .navbar-container{
    width: 2%;
  }
}

@media (min-width:5400px){   
  .navbar-container{
    width: 1.5%;
  }
}


@media only screen and (min-height: 520px) and (max-height: 600px) {

}
@media only screen and (min-height: 380px) and (max-height: 519px) {
  .navbar-container{
    height: 11%;
  } 
}

@media only screen and (min-height: 300px) and (max-height: 379px) {
  .navbar-container{
    height: 12%;
  } 
}

@media only screen and (max-height: 299px) {
  .navbar-container{
    display: none;
  } 
}

