.searchinput-container input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: white;
    background-image: url('./Icons/iconsearch.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin: 0.4rem 0;
}

.searchinput-container input:focus{
    outline: none;
    border: 1px solid #4080FF;
}

.searchinput-container{
    padding: 0 0.9rem 0;
}

@media (min-width:0px) and (max-width:790px){   

    .searchinput-container{
        display: none;
    }
  }