.header-container{
    position: relative;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #E6E8EB;
    display: flex;
    align-items: center;
}

.header-icon-9dots{
    position: absolute;
    left: 1.5%;
}

.header-icon-main{
    position: absolute;
    left: 5.2%;
}

.header-icon-avatar{
    cursor: pointer;
    position: absolute;
    right: 1%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header-icon-main{
        display: none;
    } 
    .header-container{
        height: 8%;
    } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header-container{
        height: 6%;
    }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header-container{
        height: 6%;
    }  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-container{
        height: 6%;
    }  
    .header-icon-9dots{
        position: absolute;
        left: 1.2%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header-container{
        height: 8%;
    }  
}

@media (min-width:1700px){   
    .header-icon-9dots{
        left: 1.2%;
    }
    
    .header-icon-main{
        left: 4.4%;
    }

    .header-container{
        height: 7%;
    }
}
  
  @media (min-width:2000px){   
    .header-icon-9dots{
        left: 0.9%;
    }
    
    .header-icon-main{
        left: 3.6%;
    }

    .header-container{
        height: 6%;
    }
  }
  
  @media (min-width:2350px){   
    .header-icon-9dots{
        left: 0.6%;
    }
    
    .header-icon-main{
        left: 2.6%;
    }

    .header-container{
        height: 5%;
    }
  }
  
  @media (min-width:4090px){   
    .header-icon-9dots{
        left: 0.7%;
    }
    
    .header-icon-main{
        left: 2.4%;
    }

    .header-container{
        height: 4%;
    }
  }
  
  @media (min-width:5400px){   
    .header-icon-9dots{
        left: 0.6%;
    }
    
    .header-icon-main{
        left: 1.8%;
    }

    .header-container{
        height: 3%;
    }
  } 