.header-container{
    position: absolute;
    width: 100%;
    height: 3.2rem;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid #E6E8EB;
}

.header-icon-9dots{

    position: absolute;
    width: 24px;
    left: 22px;
    top: 26%;
    bottom: 26%;
}

.header-icon-main{
    position: absolute;
    width: 70px;
    left: 79px;
    top: 16%;
    bottom: 16%;
}

.header-icon-avatar{
    position: absolute;
    width: 40px;
    right: 15px;
    top: 10%;
    bottom: 10%;
    cursor: pointer;
}