.custombutton-container{
  border-radius: 8px;
  outline: none;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  width: 100px;
}

.primary{
  background: #115DD3;
  color: #fff;
  border: 1px solid white;
}

.default{
  background: white;
  color: #808999;;
  border: 1px solid #808999;;
}


/* ------------------------------------------------ RESPONSIVE ----------------------- */

/* WIDTH */

@media only screen and (max-width: 320px) {
  .custombutton-container{
    padding: 0.2rem 1rem;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    border-radius: 6px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
  .custombutton-container{
    padding: 0.4rem 1rem;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .custombutton-container{
    padding: 0.4rem 1.2rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
}

@media only screen  and (min-width: 769px) and (max-width: 1024px) {
  .custombutton-container{
    padding: 0.4rem 1.2rem;
  }
}

