@import url("../../../../../libraries/Styles/Variables.css");

.userchat-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.userchat-container-active,
.userchat-container:hover{
    background-color: var(--color-item--active);
}

.userchat-image{
    /* width: 16%; */
    padding-right: 12px;
}


.userchat-context-top{
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.userchat-context{
    width:84%;
}

.userchat-username{
    font-size: var(--fontsize-default2);
    line-height: var(--lineheight-default2);
}

.userchat-groupchat{
    margin-left: 0.5rem;
}

.userchat-timeoflastmess{
    margin-left: auto;
    color: var(--color-text-lightgray2);
}

.userchat-context-bottom{
    display: flex;
    justify-content: space-between;
}

.userchat-contextoflastmess{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: var(--color-text--lightgray);
    overflow:hidden;
    width: 200px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    /* word-break: break-all; */
}

.userchat-unreadcontext{
    font-weight: bold;
    color: var(--color-text--dark);
}

.userchat-username .userchat-unreadcontext{
    font-size: var(--fontsize-default2);
    line-height: var(--lineheight-default2);
}

.userchat-icon-unread{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}



/* ------------------------------------------------ RESPONSIVE ----------------------- */

@media only screen and (max-width: 768px) {
    .userchat-context{
        display: none;
    }

    .userchat-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    .userchat-container{
        padding: 0.3rem 0;
    }

    .userchat-image2{
        margin: auto;
        width: 40px;
        height: 40px;
    }
}

/* 
@media only screen and (min-width: 768px) and (max-width: 900px) {
    .userchat-image{
        width: 28%;
    }
    
    .userchat-context{
        width:72%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 991px) {
    .userchat-image{
        width: 25%;
    }
    
    .userchat-context{
        width:75%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1020px) {
    .userchat-image{
        width: 22%;
    }
    
    .userchat-context{
        width:78%;
    }
}

@media only screen and (min-width: 1021px) and (max-width: 1199px) {
    .userchat-image{
        width: 20%;
    }
    
    .userchat-context{
        width:80%;
    }
}

@media only screen and (min-width: 1200px) {
    .userchat-image{
        width: 16%;
    }
    
    .userchat-context{
        width:84%;
    }
} */
