@import url("../../../../libraries/Styles/Variables.css");

.navbar-iconpanel-container{
  display: flex;        
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  padding: 0.8rem;
  position: relative;
}
.navbar-iconpanel-container:hover{
  background-color: var(--color-main4);
}

.navbar-iconpanel-icon{
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.navbar-iconpanel-container--active{
  background-color: var(--color-main4);
  border-left: 3px solid var(--color-main3);
}

.navbar-container div{
  flex: 1;
}

/* .navbar-iconpanel--hasnoti{
  position: absolute;
  top: 24%;
  background-color:var(--color-main3);
  border-radius: 50%;
  height: 10px;
  width: 10px;
} */


@media only screen and (max-width:768px){   


  .navbar-iconpanel-container--active{
    background-color: var(--color-main4);
    border-left: none;
    border-bottom: 3px solid var(--color-main3);
  } 

  .navbar-iconpanel-container{
    flex: 1;
  }
}


@media only screen and (max-height:520px){   

  .navbar-iconpanel-container--active{
    background-color: var(--color-main4);
    border-left: none;
    border-bottom: 3px solid var(--color-main3);;
  } 

  .navbar-iconpanel-container{
    flex: 1;
  }

  .navbar-container div{
    height: 100%;
   }
}