.navbar-iconpanel-container{
  padding: 1.2rem;
  cursor: pointer;
}
.navbar-iconpanel-container:hover{
  background-color: #0151CD;
}

.navbar-container .navbar-iconpanel-container:first-child{
  margin-top: 32px;
}

.navbar-container .navbar-iconpanel-container:last-child{
  position: absolute;
  bottom: 0;
  width: inherit;
}

.navbar-iconpanel-icon{
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.navbar-iconpanel-container-active{
  background-color: #0151CD;
  border-left: 2px solid #FF7F08;
}