@import url("../../../../libraries/Styles/Variables.css");

.nouserchatfound-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.nouserchatfound-container h4{
    margin-top:1rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    text-align: center;
    color: var(--color-text--gray);
}

.nouserchatfound-icon{
    width:180px;
    height:160px;
    background-repeat: no-repeat;
}


@media only screen and (max-height:510px){ 
    .nouserchatfound-container{
        position: initial;
    }
}

@media only screen and (max-width:860px){ 
    .nouserchatfound-container{
        display: none;
    }
}
