.userchatlist-header{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0.9rem 0;
}

.userchatlist-icon-penedit{

  height: 24px;
  width: 24px;
  cursor: pointer;
}

