@import url("../../../../libraries/Styles/Variables.css");

.chatdetail-container{
  position: relative;
  height: 100%;
  width: calc(100% - var(--width-navbardetail));
  left: 0;
}

/* ------------------------------------------------ RESPONSIVE ----------------------- */

@media only screen and (max-width: 768px) {
  .chatdetail-container{
    width: 100%;
  }
}


@media only screen and (max-width: 300px) {
  .chatdetail-container{
    width: 78%;
  }
}
 /*
@media only screen and (max-width: 600px) {
  .chatdetail-container{
    width: 88%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.chatdetail-container{
  width: 66.67%;
  left: 33.33%;
  top: 8%;
  height: 92%;
}
}

@media only screen and (min-width: 992px) {
.chatdetail-container{
  width: 65%;
  left: 35%;
  top: 0%;
  height: 100%;
}
}

@media only screen and (min-width: 1200px) {

}

@media (min-width:1700px){   
  .chatdetail-container{
      width: 71%;
      left: 29%;
  }
}

@media (min-width:2000px){   
  .chatdetail-container{
      width: 79%;
      left: 21%;
  }
}

@media (min-width:2350px){   
  .chatdetail-container{
      width: 84%;
      left: 16%;
  }
}

@media (min-width:4090px){   
  .chatdetail-container{
      width: 88%;
      left: 12%;
  }
}

@media (min-width:5400px){   
  .chatdetail-container{
      width: 91%;
      left: 9%;
  }
}
*/


@media only screen and (min-height: 520px) and (max-height: 600px) {

}
@media only screen and (min-height: 380px) and (max-height: 519px) {
  /* .chatdetail-container{
    width: 66.67%;
    left: 33.33%;
    top: 11%;
    height: 89%;
  } */
}

/* @media only screen and (min-height: 330px) and (max-height: 379px) {
  .chatdetail-container {
    width: 100%;
  }
}

@media only screen and (min-height: 300px) and (max-height: 329px) {
  .chatdetail-container {
    width: 100%;
  }
} */

@media only screen and (max-height: 299px) {
  /* .chatdetail-container{
    width: 81%;
    left: 19%;
    top: 0%;
    height: 100%;
  } */
} 