.chatdetail-container{
    position: absolute;
    height: 100%;
    width: 67%;
    top: 0;
    left: 33%;
}

/* ------------------------------------------------ RESPONSIVE ----------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .chatdetail-container{
    width: 81%;
    left: 19%;
    top: 8%;
    height: 92%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .chatdetail-container{
    width: 66.67%;
    left: 33.33%;
    top: 8%;
    height: 92%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .chatdetail-container{
    width: 65%;
    left: 35%;
    top: 0%;
    height: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* @media (min-width:0px) and (max-width:915px){   
  .chatdetail-container{
    width: 66.67%;
    left: 33.33%;
    top: 10%;
    height: 86%;
  }
}

@media (min-width:916px) and (max-width:1099px){   
  .chatdetail-container{
    width: 61%;
    left: 39%;
  }
}

@media (min-width:1100px) and (max-width:1250px){   
  .chatdetail-container{
    width: 65%;
    left: 35%;
  }
}

@media (min-width:1700px){   
    .chatdetail-container{
        width: 74%;
        left: 26%;
    }
}
  
  @media (min-width:2000px){   
    .chatdetail-container{
        width: 79%;
        left: 21%;
    }
  }
  
  @media (min-width:2350px){   
    .chatdetail-container{
        width: 84%;
        left: 16%;
    }
  }
  
  @media (min-width:4090px){   
    .chatdetail-container{
        width: 88%;
        left: 12%;
    }
  }
  
  @media (min-width:5400px){   
    .chatdetail-container{
        width: 91%;
        left: 9%;
    }
  }
   */