@import url("../../../Styles/Variables.css");

.tooltip-container{
    background-color: var(--color-text--dark);
    padding: 0.5rem;
    color: #E5E9F2;
    border-radius: 6px;
}

.popup-arrow {
    color: var(--color-text--dark);
}

